{% extends 'base_generic.html' %}

{% block content %}
  <h1>Invoices</h1>
  <a href="{% url 'invoice_create' %}">Create New Invoice</a>
  <ul>
    {% for invoice in invoices %}
      <li>
        <a href="{% url 'invoice_detail' invoice.pk %}">{{ invoice.invoice_number }} - {{ invoice.client.company_name }}</a>
        - <a href="{% url 'invoice_update' invoice.pk %}">Edit</a>
        - <a href="{% url 'invoice_delete' invoice.pk %}">Delete</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
